body{
    text-align: center;
}
.kiskepek {
    display: flex; 
    justify-content: flex-start; 
    align-items: center; 
    flex-wrap: wrap; 
}

.kiskep {
    flex: 1; 
    max-width: calc(25% - 20px); 
    margin: 10px; 
}
.Nagykep img{
    width: 500px;
}
.Nagykep{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    
}
#pictures-name{
    text-align: center;
    margin: auto;
}
