*{
    margin: 0;
}
body{

}
main{
    text-align: justify;
    margin: auto;
    width: 80%;
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "h h h"
                         "n n n"
                         "a a a"
                         "f f f";

}
header{
grid-area: h;
}
nav{
    grid-area: n;
}
article{
    grid-area: a;
}
footer{
    grid-area: f;
}